.circle{
  display: flex;
  color: white;
  align-items: center;
  background-color: #313464;
  width: 40px;
  height: 40px;
  font-size: 20px;
  justify-content: center;
  border-radius: 50%;
  border: none;
  outline: none;
}